/* style.css */
body {
  font-family: Arial, sans-serif;
  background-color: #1e1e1e;
  color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.card {
  background-color: #2a2a2a;
  padding: 20px 40px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0,0,0,0.5);
}
.gradient-title {
  background: linear-gradient(90deg, #1E90FF, #00BFFF);
  -webkit-background-clip: text; /* clip gradient to text */
  -webkit-text-fill-color: transparent; /* make text itself transparent */
}

p {
  font-size: 1.2em;
}
